@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Dancing+Script&family=Oswald:wght@300&family=Roboto:wght@100;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3{
    
    font-family: 'Dancing Script', cursive;
   
    
}
p, h4, h5{
    font-family: 'Roboto', sans-serif;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}